
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

*{
    font-family: 'Kanit', sans-serif;
}

/* estilo para contenedor de hoteles */
#contenedorHoteles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
  }

  h1{
    text-align: center;
  }

  
 .styleBuscador{
    display: flex;
    justify-content: center;
 }

  /* clase para imagenes de hoteles */
.imgHotel{
    height: 300px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}


