
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

*{
    font-family: 'Kanit', sans-serif;
}
nav{
  padding-top: 10px;
  z-index: 2;
}

.sticky{
  position: sticky;
  top: 0px;
  position: sticky;

}


/* estilo para contenedor de hoteles */
#contenedorHoteles {



    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  justify-items: center;
  padding: 4rem;
  }

main{
  display: flex;
  flex: wrap;
  
}
 
.btnFiltros{
  width: 9rem;

}

.iconoCarrito{
  right: 10rem;
  width: 3rem;
  height: 3rem;
  
}



.filtrarCategoria{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 5px;
}



  h1{
    text-align: center;
  }

  .ocultarCarrito{
    display: none;
  }
  
 .styleBuscador{
    display: flex;
    justify-content: space-around ;
    padding-top: 2rem;
 }

  /* clase para imagenes de hoteles */
.imagenes{
    height: 300px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}

.contenidoCarrito{
  /* max-width: 20rem; */
  background-color: rgba(254, 234, 234, 0.878);
  border: 5px;
  border-color: black;
  border-radius: 6px;
  width: 20rem;
  margin: 20rem;
  display: flex;
  flex-direction: column ;
  justify-content: center;
  gap: 15px;  
  place-content: center;
  
}

.elementosCarrito{
margin-left: 9px;
}


.filtroPorPrecio{
  max-width:  9rem;
  gap: 5px;
  text-align: center;
}


.botonSumar{
  width: 50px;
  height: 20px;
  z-index: 1;
  color: #fff;
  margin: 0px 5px 0px 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #2c0b8e;
  background: #2c0b8e;
}
.botonSumar:hover {
  background: #fff;
  color: #2c0b8e
}

.btnFinalizar{
  width: 40%;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  margin-left: 30%;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #4c2ab3;
  color: #4c2ab3;
  
}
.btnFinalizar:hover {
  color: #fff;
}
.btnFinalizar:hover:after {
  height: 100%;
}
.btnFinalizar:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background: #2c0b8e;
}