
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

*{
    font-family: 'Kanit', sans-serif;
}

.divSticky{
  position: sticky;
  top: 0px;
  position: sticky;

}
/* estilo para contenedor de hoteles */
#contenedorHoteles {



    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  justify-items: center;
  padding: 4rem;
  }

main{
  display: flex;
  flex: wrap;
  
}
 
.btnFiltros{
  width: 9rem;

}

.carrito{
  margin-top: 20px;
  right: 10rem;
}


.vaciar{
  margin-top: 20px;
}

.filtrarCategoria{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 5px;
}

 

  h1{
    text-align: center;
  }

  .ocultarCarrito{
    display: none;
  }
  
 .styleBuscador{
    display: flex;
    justify-content: space-around ;
    padding-top: 2rem;
 }

  /* clase para imagenes de hoteles */
.imagenes{
    height: 300px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}


